@{
    Layout = "_LayoutLogged";  // Ustawienie layoutu na LayoutUnlogged
}


@{
    ViewData["Title"] = "Unauthorized";
}

<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh; background-color: #f8f9fa;">
    <div class="text-center p-4 rounded" style="background-color: #ffffff; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); width: 80%; max-width: 600px;">
        <h1 class="display-4" style="color: #dc3545;">Access Restricted</h1>
        <p class="lead" style="color: #6c757d;">It appears that you do not have the necessary role to access this page. In order to engage with auctioneer features, your account must be assigned the "Auctioneer" role.</p>
        <p style="color: #6c757d;">If you believe this is an error, please reach out to the system administrator for further assistance.</p>
        <p class="mt-4" style="color: #6c757d;">Thank you for your understanding.</p>
    </div>
</div>