@using AuctionAce.Api.Models.ViewModels.Auctions
@model AuctionViewModel
@{
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
    string url = Url.Action("AllAuctionsById");
}
<div class="container mt-5">
    <h1 class="mb-4">Auction Form</h1>
    <form id="auctionForm">
        <div class="form-group">
            <label for="auctionName">Auction Name</label>
            <input type="text" class="form-control" id="auctionName" name="auctionName" required>
        </div>
        <div class="form-group">
            <label for="auctionCategory" required>Category</label>
            <select class="form-control" id="auctionCategory">
                <option value="" disabled selected>Select a category</option>
                @foreach (var category in Model.CategoriesDomains)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="description" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="startDate">Start Date</label>
            <div class="input-group">
                <input type="datetime-local" class="form-control" id="startDate" name="startDate" required>
                <div class="input-group-append">
                    <div class="input-group-text">
                        <input type="checkbox" id="startNow" name="startNow">
                    </div>
                </div>
            </div>
            <small class="form-text text-muted">Check to start now.</small>
        </div>
        <div class="form-group">
            <label for="endDate">End Date</label>
            <input type="datetime-local" class="form-control" id="endDate" name="endDate" required>
        </div>
        <div class="form-group">
            <label for="image">Auction Photo</label>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="image" name="image" multiple required>
                <label class="custom-file-label" for="image">Choose file</label>
            </div>
        </div>

        <!-- Tabela przedmiotów -->
        <div id="itemList" name="itemList">
            <h2>Item List</h2>
            <table class="table" style="max-width:100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Start Price</th>
                        <th>Buy Now Price</th>
                        <th>Condition</th>
                        <th>Photo</th>
                    </tr>
                </thead>
                <tbody id="itemsTableBody">
                    <!-- Tutaj będą dynamicznie dodawane wiersze -->
                </tbody>
            </table>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addItemModal">Add item</button>
            <button type="button" class="btn btn-primary float-right" id="saveButton">Save</button>
        </div>
    </form>
</div>
<!-- Modal dodawania przedmiotu -->
<div class="modal fade" id="addItemModal" tabindex="-1" role="dialog" aria-labelledby="addItemModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addItemModalLabel">Add item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addItemForm">
                    <div class="form-group">
                        <label for="itemName">Name</label>
                        <input type="text" class="form-control" id="itemName" name="Name" required>
                    </div>
                    <div class="form-group">
                        <label for="itemDescription">Item Description</label>
                        <textarea class="form-control" id="itemDescription" name="Description" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="itemImage" id="fileNameLabel" class="btn btn-primary btn-block btn-outlined" required>Item Photo</label>
                        <input type="file" id="itemImage" accept="image/*" style="display: none" multiple required>
                    </div>
                    <div class="form-group">
                        <label for="startPrice">Start Price</label>
                        <input type="number" class="form-control" id="startPrice" name="StartingPrice">
                    </div>
                    <div class="form-group">
                        <label for="buyNowPrice">Buy Now Price</label>
                        <input type="number" class="form-control" id="buyNowPrice" name="BuyNowPrice">
                    </div>
                    <div class="form-group">
                        <label for="condition" class="form-label">State</label>
                        <div class="d-flex justify-content-between">
                            <div class="btn-group w-50" role="group" aria-label="Condition selection">
                                <input type="radio" class="btn-check" name="condition" id="usedCondition" value="Used" checked>
                                <label class="btn btn-outline-primary w-100" for="usedCondition">Used</label>
                            </div>

                            <div class="btn-group w-50" role="group" aria-label="Condition selection">
                                <input type="radio" class="btn-check" name="condition" id="newCondition" value="New">
                                <label class="btn btn-outline-primary w-100" for="newCondition">New</label>
                            </div>
                        </div>
                    </div>
                    <div style="text-align:center">
                        <button type="submit" class="btn btn-primary btn-lg">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="~/js/AddAuction.js"></script>