    <div class="container mt-5">
        <h1 class="mb-4">Formularz Aukcji</h1>
        <form id="auctionForm">
            <div class="form-group">
                <label for="auctionName">Nazwa Aukcji</label>
                <input type="text" class="form-control" id="auctionName" name="auctionName" required>
            </div>
            <div class="form-group">
                <label for="description">Opis</label>
                <textarea class="form-control" id="description" name="description" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="startDate">Data i godzina rozpoczęcia</label>
                <input type="datetime-local" class="form-control" id="startDate" name="startDate" required>
            </div>
            <div class="form-group">
                <label for="endDate">Data i godzina zakończenia</label>
                <input type="datetime-local" class="form-control" id="endDate" name="endDate" required>
            </div>
            <div class="form-group">
                <label for="image">Zdjęcie</label>
                <input type="file" class="form-control-file" id="image" name="image">
            </div>
            <!-- Tabela przedmiotów -->
            <div id="itemList" name="itemList">
                <h2>Lista Przedmiotów</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nazwa</th>
                            <th>Opis</th>
                            <th>Kategoria</th>
                            <th>Zdjęcie</th>
                            <th>Cena Startowa</th>
                            <th>Cena Kup Teraz</th>
                            <th>Nowe/Uzywane</th>
                        </tr>
                    </thead>
                    <tbody id="itemsTableBody">
                        <!-- Tutaj będą dynamicznie dodawane wiersze -->
                    </tbody>
                </table>
            </div>

            <div class="form-group">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addItemModal">Dodaj Przedmiot</button>
                <button type="button" class="btn btn-primary float-right" id="saveButton">Zapisz</button>
            </div>

        </form>
    </div>

    <div class="modal fade" id="addItemModal" tabindex="-1" role="dialog" aria-labelledby="addItemModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addItemModalLabel">Dodaj Przedmiot</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addItemForm">
                        <div class="form-group">
                            <label for="itemName">Nazwa</label>
                            <input type="text" class="form-control" id="itemName" name="itemName" required>
                        </div>
                        <div class="form-group">
                            <label for="itemDescription">Opis</label>
                            <textarea class="form-control" id="itemDescription" name="itemDescription" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="itemCategory">Kategoria</label>
                            <input type="text" class="form-control" id="itemCategory" name="itemCategory">
                        </div>
                        <div class="form-group">
                            <label for="itemImage">Zdjęcie</label>
                            <input type="file" class="form-control-file" id="itemImage" name="itemImage">
                        </div>
                        <div class="form-group">
                            <label for="startPrice">Cena Startowa</label>
                            <input type="number" class="form-control" id="startPrice" name="startPrice">
                        </div>
                        <div class="form-group">
                            <label for="buyNowPrice">Cena Kup Teraz</label>
                            <input type="number" class="form-control" id="buyNowPrice" name="buyNowPrice">
                        </div>
                        <div class="form-group">
                            <label for="condition">Stan:</label><br>
                            <input type="radio" id="newCondition" name="condition" value="nowa">
                            <label for="newCondition">Nowy</label><br>
                            <input type="radio" id="usedCondition" name="condition" value="uzywana">
                            <label for="usedCondition">Uzywany</label><br>
                        </div>
                        <button type="submit" class="btn btn-primary">Dodaj</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="noItemModal" class="custom-modal">
        <div class="custom-modal-content">
            <span class="close" id="closeNoItemModal">&times;</span>
            <h5>Brak przedmiotów!</h5>
            <p>Musisz dodać przynajmniej jeden przedmiot do aukcji.</p>
            <button type="button" class="btn btn-secondary" id="closeCustomModal">Zamknij</button>
        </div>
    </div>

    <div id="successModal" class="custom-modal">
        <div class="custom-modal-content">
            <span class="close" id="closeSuccessModal">&times;</span>
            <h5>Pomyślnie zapisano aukcje</h5>
            <button type="button" class="btn btn-secondary" id="closeCustomModal">Zamknij</button>
        </div>
    </div>


<script>
    $("#addItemForm").submit(function (event) {
        event.preventDefault();
        var itemName = $("#itemName").val();
        var itemDescription = $("#itemDescription").val();
        var itemCategory = $("#itemCategory").val();
        var itemImage = $("#itemImage")[0].files[0];
        var startPrice = $("#startPrice").val();
        var buyNowPrice = $("#buyNowPrice").val();
        var isNew = $("input[name='condition']:checked").val();
        var tableRow = $("<tr>").append(
            $("<td>").text(itemName),
            $("<td>").text(itemDescription),
            $("<td>").text(itemCategory),
            $("<td>").append(itemImage ? $("<img>").attr("src", URL.createObjectURL(itemImage)).addClass("img-thumbnail") : ""),
            $("<td>").text(startPrice),
            $("<td>").text(buyNowPrice),
            $("<td>").text(isNew)
        );
        $("#itemsTableBody").append(tableRow);

        // Clear the form
        $("#addItemForm")[0].reset();

        // Hide the modal
        $("#addItemModal").modal("hide");
    });

    $(document).on('click', '.close', function () {
        $(this).closest(".custom-modal").css('display', 'none');
    });

    $(document).on('click', '#closeCustomModal', function () {
        $(this).closest(".custom-modal").css('display', 'none');
    });

    $("#saveButton").click(function () {
        // Zbierz dane z formularza
        var formData = new FormData();
        formData.append('auctionName', $('#auctionName').val());
        formData.append('description', $('#description').val());
        formData.append('startDate', $('#startDate').val());
        formData.append('endDate', $('#endDate').val());

        // Dodaj zdjęcie aukcji, jeśli istnieje
        var auctionImage = $('#image')[0].files[0];
        if (auctionImage) {
            formData.append('image', auctionImage);
        }

        // Zbierz dane przedmiotów
        // $('#itemsTableBody tr').each(function (index, tr) {
        //     var itemData = {
        //         itemName: $(tr).find('td:eq(0)').text(),
        //         itemDescription: $(tr).find('td:eq(1)').text(),
        //         itemCategory: $(tr).find('td:eq(2)').text(),
        //         startPrice: $(tr).find('td:eq(4)').text(),
        //         buyNowPrice: $(tr).find('td:eq(5)').text(),
        //         condition: $(tr).find('td:eq(6)').text()
        //     };
        //     formData.append('items[' + index + ']', JSON.stringify(itemData));

        //     // Dodaj zdjęcie przedmiotu, jeśli istnieje
        //     var itemImage = $(tr).find('td:eq(3) img').attr('src');
        //     if (itemImage) {
        //         formData.append('itemImages[' + index + ']', itemImage);
        //     }
        // });

        // Wysłanie danych do kontrolera
        $.ajax({
            type: "POST",
            url: "/Auction/AddAuction",
            data: formData,
            contentType: false,
            processData: false,
            success: function (response) {
                // Wyświetl modal sukcesu
                $("#successModal").css('display', 'block');
            },
            error: function (error) {
                console.log(error);
            }
        });
    });
</script>

