@{
    /*Layout = null; */
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Four Cards</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .card {
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <center>
            <h1>
                Current promotions
            </h1>

        </center>
        <div class="text-right">
            <a href="#" class="btn btn-primary">See all</a>
        </div>
        <div class="row">

            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <img class="card-img-top" src="https://studentprawa.pl/media/k2/items/cache/af6038056f6231c664e3ef073c45af10_L.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Auction Subject</h5>
                        <p class="card-text">Start Date: <span id="start-date">[Start Date Value]</span></p>
                        <p class="card-text">End Date: <span id="end-date">[End Date Value]</span></p>
                        <p class="card-text">Registered Members: <span id="registered-members">[Registered Members Value]</span></p>
                        <p class="card-text">Items: <span id="items">[Items Value]</span></p>
                        <a href="#" class="btn btn-primary">View Auction</a>
                    </div>
                </div>
            </div>



            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <img class="card-img-top" src="https://studentprawa.pl/media/k2/items/cache/af6038056f6231c664e3ef073c45af10_L.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Auction Subject</h5>
                        <p class="card-text">Start Date: <span id="start-date">[Start Date Value]</span></p>
                        <p class="card-text">End Date: <span id="end-date">[End Date Value]</span></p>
                        <p class="card-text">Registered Members: <span id="registered-members">[Registered Members Value]</span></p>
                        <p class="card-text">Items: <span id="items">[Items Value]</span></p>
                        <a href="#" class="btn btn-primary">View Auction</a>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <img class="card-img-top" src="https://studentprawa.pl/media/k2/items/cache/af6038056f6231c664e3ef073c45af10_L.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Auction Subject</h5>
                        <p class="card-text">Start Date: <span id="start-date">[Start Date Value]</span></p>
                        <p class="card-text">End Date: <span id="end-date">[End Date Value]</span></p>
                        <p class="card-text">Registered Members: <span id="registered-members">[Registered Members Value]</span></p>
                        <p class="card-text">Items: <span id="items">[Items Value]</span></p>
                        <a href="#" class="btn btn-primary">View Auction</a>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <img class="card-img-top" src="https://studentprawa.pl/media/k2/items/cache/af6038056f6231c664e3ef073c45af10_L.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Auction Subject</h5>
                        <p class="card-text">Start Date: <span id="start-date">[Start Date Value]</span></p>
                        <p class="card-text">End Date: <span id="end-date">[End Date Value]</span></p>
                        <p class="card-text">Registered Members: <span id="registered-members">[Registered Members Value]</span></p>
                        <p class="card-text">Items: <span id="items">[Items Value]</span></p>
                        <a href="#" class="btn btn-primary">View Auction</a>
                    </div>
                </div>
            </div>



        </div>
    </div>




</body>
</html>
