@using AuctionAce.Api.Models.Auctions
@model HomeViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Four Cards</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .card {
            width: 100%;
        }
    </style>
</head>
<body>   
    
    <div class="container-fluid">        
        
        <div class="row">
            <div class="col-md-12 center" style="text-align:center">
                <h1>
                    Current promotions
                </h1>
            </div>
        </div>


        <div class="row">

            @if (Model.Auctions != null)
            {
                foreach (var item in Model.Auctions)
                {
                    <div class="col-md-3">
                        <div class="card">
                            <img class="card-img-top" src="https://studentprawa.pl/media/k2/items/cache/af6038056f6231c664e3ef073c45af10_L.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">@item.AuctionName</h5>
                                <p class="card-text">Start Date: <span id="start-date">@item.StartDate</span></p>
                                <p class="card-text">End Date: <span id="end-date">@item.EndDate</span></p>
                                <p class="card-text">Registered Members: <span id="registered-members">[Registered Members Value]</span></p>
                                <p class="card-text">Items: <span id="items">[Items Value]</span></p>
                                <a href="#" class="btn btn-primary">View Auction</a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="row" style="margin-top:20px ">
            <div class="d-grid gap-2 col-6 mx-auto">
                <button onclick="window.location.href = '@Url.Action("AllAuctions","Home")'" type="button" class="btn btn-primary btn-lg" style="margin-right:0px">See more</button>
            </div>

        </div>
        
        <script>

        </script>
    </div>


    @* <div class="category">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary">Electronics</button>
            <button type="button" class="btn btn-secondary">Clothing</button>
            <button type="button" class="btn btn-secondary">Books</button>
            <!-- Dodaj więcej przycisków kategorii według potrzeb -->
        </div>
    </div> *@


</body>
</html>
